<!DOCTYPE html>
html(lang="en")
  head
    title Taqtile's Developer Roadmap
    link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.css")
    style.
      .node circle {
        cursor: pointer;
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
      }

      .node text {
        font-size: 11px;
      }

      .node rect {
        fill: #FFF;
        stroke: #636363;
        stroke-width: 1.5px;
      }

      path.link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
        marker-end: url(#end);
      }

      .flag {
        fill: steelblue;
        stroke: #636363;
        stroke-width: 1.5px;
      }

  body
    h1 Taqtile's Developer Roadmap
    svg(style="position:absolute;width:0;height:0;top:-200px;")
      marker(id="end" viewBox="0 0 10 10" refX="10" refY="5" markerWidth="6" markerHeight="6" orient="auto")
        path(d="M0 10 L10 5 L0 0 Z")
      marker(id="marker" viewBox="0 0 6 6" refY="3" markerWidth="7" markerHeight="7" orient="auto")
        path(d="M0,3v-3l6,3l-6,3z")
      marker(id="circle" viewBox="0 0 8 8" refX="4" refY="4" markerWidth="9" markerHeight="9" orient="auto")
        circle(stroke="black" fill="white" r="2.5" cx="4" cy="4")
    script(type="text/javascript" async src="../node_modules/bootstrap/dist/js/bootstrap.js")
    script(type="text/javascript" async src="./index.ts")
    //- svg(width="2400" height="960")
