div(class="modal fade" id="node-modal" tabindex="-1" role ="dialog" aria-labelledby="node-modal")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5(class="modal-title" id="node-modal-label") Modal title
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
