div(style='display:none')
  svg#quote(class='quote-icon' width='30px', height='30px' viewbox='0 0 512 512')
    path(d='M512,256c0,141.38-114.61,256-256,256S0,397.39,0,256,114.62,0,256,0,512,114.62,512,256Z' fill='#404041' data-toggle='modal' data-target='#node-modal')
    path(d='M196.39,243.88c8.29-29.56,35.31-61.25,35.31-61.25l-14-12.92c-87.4,50.8-77.91,125.84-77.91,125.84l.42-.14a49.34,49.34,0,1,0,56.15-51.53Z' fill='#fff')
    path(d='M370.07,277.46a49.28,49.28,0,0,0-40-33.58c8.3-29.56,35.31-61.25,35.31-61.25l-14-12.92c-87.4,50.8-77.92,125.84-77.92,125.84l.41-.14a49.36,49.36,0,1,0,96.19-18Z' fill='#fff')
